@import url('https://fonts.googleapis.com/css2?family=Geologica:wght@100..900&display=swap');
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
html {
  scroll-behavior: smooth;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* NavBar */
.c-navbar {
  background-color: #272727;
  color: #F4E3D2;
  position: fixed;
  width: 100%;
  z-index: 9999;
}
.c-navbar ul {
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0;
}
.c-brand {
  padding-bottom: 5px;
  padding-top: 0 !important;
}
.c-navbar ul li {
  list-style-type: none;
  padding: 20px 10px;
}
.c-navbar ul li a {
  font-weight: bold;
}
.c-cart-links input::placeholder {
  color:#F4E3D2;
  padding-left: 20px;
}
.c-search {
  position: relative;
  display: flex;
  align-items: center;
}
.c-search input {
  margin-right: 20px;
}
.c-search img {
  position: absolute;
  padding-left: 15px;
}
.c-cart-links input{
  background-color: #272727;
  border: solid 1px #fff;
  box-sizing: border-box;
  color: #F4E3D2;
  font-size: 14px;
  padding: 5px 5px 5px 40px;
}
.c-right-column {
  align-items: center;
  display: flex;
  justify-content: flex-end;
}
.c-cart-links {
  display: flex;
  align-items: center;
}
.c-nav-cart-link {
  padding: 0 10px;
}

/* Header */
.c-header-bg {
  background-image: url('../src/assets/headerbg.png');
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
.c-header-bg {
  color: #fff;
  font-family: 'Geologica';
  text-shadow: 0 2px 4px #535353;
}
.c-header-shop-btn button {
  background-color: #F4E3D2;
  color: #5A5A5A;
  padding: 10px 15px;
  margin-right: 30px;
  margin-top: 15px;
  border: unset;
}
.c-header-description {
  display: flex;
  justify-content: center;
  height: 100vh;
  flex-direction: column;
}
.c-header1 {
  font-size: 84px;
  margin-bottom: 30px;
}
.c-right-column-mobile {
  display: none;
}
@media only screen and (max-width: 991px) {
  .c-header-description {
    text-align: center;
  }
  .c-left-column {
    font-size: 14px;
  }
  .c-right-column-mobile {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  .c-right-column-mobile button {
    background-color: unset;
    color: #fff;
    border: solid 1px #fff;
  }
  .c-right-column-mobile button:hover {
    background-color: #F4E3D2;
    transition: .2s;
    color: #272727;
  }
  .c-right-column {
    display: none;
  }
}

/* HOT DEALS */
.c-hotdeals {
  margin-bottom: 80px;
}
.c-card-relative {
  position: relative;
  cursor: pointer;
}
.c-banner-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 0;
  font-family: 'Geologica';
}
.c-banner-title h1 {
  font-weight: 400;
}
.c-banner-title h4 {
  font-weight: lighter;
}
.c-card-relative {
  color: #fff;
}
.c-card-relative img {
  width: 100%;
}
.c-card-relative span {
  position: absolute;
  bottom:0;
  left: 20px;
  font-weight: 600;
  font-size:x-large;
}
@media only screen and (max-width: 767px) {
  .c-card-relative span {
    font-size: smaller;
  }
}

/* Trending */
.c-trending {
  background-image: url('../src/assets/people.png');
  height: 70vh;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.c-trending-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  bottom: 0px;
  left: 0;
  right: 0;
  padding: 20px 0;
  color: #fff;
  font-family: 'Geologica';
  background-color: #000000ac;
}
.c-trending-content h1 {
  font-size: 76px;
}
.c-trending-btn {
  background-color: #F4E3D2;
  border: unset;
  color: #4C4949;
  font-family: 'Geologica';
  padding: 15px 50px;
  font-weight: 500;
}
@media only screen and (max-width: 1312px) {
  .c-trending-content {
    text-align: center;
  }
  .c-trending-content h1 {
    font-size: 56px;
  }
}
@media only screen and (max-width: 768px) {
  .c-trending {
    background-image: unset;
    background-color: #5b2222;
    height: 40vh;
  }
}

/* Everyone's list */
.c-everyonelist-item {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  cursor: pointer;
}
.c-everyonelist-item img {
  position: relative;
}
.c-everyonelist-item span {
  color: #fff;
  font-family: 'Geologica';
  position: absolute;
  font-size: 48px;
  text-shadow: 1px 5px 6px black;
}
@media only screen and (max-width: 1200px) {
  .c-everyonelist-item {
    margin: 20px 0;
  }
}

/* Download App */
.c-download-phone {
  width: 100%;
}
.c-downloadapp-left-column {
  font-family: 'Geologica';
}
.c-downloadapp-links {
  display: flex;
  margin-top: 30px;
}
.c-downloadapp-links img {
  width: 200px;
  margin-right: 10px;
}
.c-downloadapp-left-column h1 {
  margin: 20px 0;
  font-weight: bold;
  font-size: 48px;
}
.c-downloadapp-row {
  display: flex;
  justify-content: center;
  align-items: center;
}
@media only screen and (max-width: 768px) {
  .c-downloadapp-left-column {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    text-align: center;
  }
  .c-downloadapp-links {
    display: block;
  }
  .c-downloadapp-row {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .c-download-phone {
    width: 100%;
  }
  .c-phone-content {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    display: none;
  }
}